<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Welcome to Nestjs MVC Project</h1>

    <br>
     {{ message }} 
    <br>
    <br>

    <form action="/" method="POST"> 
        <span>username</span><input id="username" name="username" type="text"><br>
        <span>password</span><input id="password" name="password" type="password"><br><br>

        <input name="submit" type="submit">

    </form>

     
  </body>
</html>